/* the global rules */
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    
}
/* end global rules */
.container {
    padding-left: 25px;
    padding-right: 25px;
    align-items: center;
  }
  header {
    background-color: #009788;
    align-items: center;
  }
   .logo {
    display: flex;
    align-items: center;
    height: 4rem;
  } 
  header .logo h1 {
    color: #fff;
    align-items: center;
  }
  .images {
      background-image: url(unknown.png);
      background-size: 100% 100%;
      height: 100vh;
  }
  footer {
      background-color: #009788;
    }
    .Footer {
      display: flex;
      align-items: center;
      height: 40px;

    }
    footer .Footer h3 {
      color: #fff;
      font-size: 17px;
    }
    
  
  



















